main {
  container-type: inline-size;
  align-content: center;
  background-color: rgb(199, 228, 228);
}

.mortgage-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e3f3fd;
  font-family: "Roboto", Arial, Helvetica, sans-serif;

  > * {
    padding: 0.7rem;
  }
}

.mortgage-calculator {
  display: grid;
  align-items: center;
  gap: 1.3rem;
  background-color: azure;
  color: #1a1a1a;

  > *:not(:last-child) {
    display: flex;
    flex-direction: column;
  }

  .mortgage-title {
    > :last-child {
      max-width: fit-content;
      background: none;
      border: none;
      color: rgb(66, 66, 237);
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .mortgage-amount,
  .mortgage-term,
  .interest-rate {
    label {
      margin-bottom: 0.5rem;
    }

    > :last-child {
      position: relative;
      align-content: center;
      border: 2px solid #1a1a1a;

      input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
        border: none;
        color: #1a1a1a;
        background-color: #fff;
        padding: 0.3rem;
        width: 100%;

        &:focus + span {
          background-color: rgb(223, 206, 110);
        }
      }

      span {
        align-content: center;
        padding-inline: 1rem;
        background-color: lightblue;
        position: absolute;
        max-width: fit-content;
        height: 100%;
        right: 0;
      }
    }
  }

  .mortgage-amount {
    span {
      left: 0;
    }
  }

  .mortgage-type {
    gap: 0.5rem;

    .repayment-design,
    .interest-design {
      display: flex;
      flex-direction: row-reverse;
      justify-content: start;
      align-items: center;
      padding: 0.5rem;
      border: 2px solid #4e6e7e;

      label {
        margin-left: 0.7rem;
      }

      input[type="radio"] {
        transform: scale(1.3);
      }

      &.checked {
        background-color: #fafae0;
        border-color: #e3b02f;

        input[type="radio"] {
          accent-color: rgba(255 241 164 / 0.7);
        }
      }
    }
  }

  > :last-child {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    background-color: #d2ee48;
    border: none;
    color: #1a1a1a;

    img {
      margin-right: 0.7rem;
    }
  }
}

.mortgage-results {
  flex: 1;
  align-content: center;
  margin-inline: auto;
  background-color: #133041;

  img {
    width: 7.5rem;
    aspect-ratio: 1;
    margin-inline: auto;
  }

  h3 {
    text-align: center;
  }

  p {
    width: 75%;
    margin-inline: auto;
  }
}

@container (width >= 576px) {
  .mortgage-wrapper {
    height: auto;
    flex-direction: row;
    width: min(95%, 60rem);
    margin-inline: auto;

    > * {
      border-radius: 10px;
    }
  }

  .mortgage-calculator {
    flex: 1;
    grid-template-columns: repeat(2, minmax(100px, 1fr));

    > :first-child {
      flex-direction: row;
      justify-content: space-between;
    }

    > *:not(.mortgage-term, .interest-rate) {
      grid-column: span 2;
    }

    > :last-child {
      width: 75%;
    }
  }

  .mortgage-results {
    border-bottom-left-radius: 30px;
  }
}
